.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0px;
  width: 100vw;
  background-color: white;

  p {
    cursor: pointer;
    font-weight: 200;

    &:hover {
      color: gray;
    }
  }

  .socials {
    display: flex;
    gap: 10px;
    margin-top: 50px;

    .fb,
    .ig {
      cursor: pointer;
      &:hover {
        fill: gray;
      }
    }
  }
}
