.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  img {
    height: 60px;
    margin: 20px 0;
    cursor: pointer;
  }

  .burger {
    cursor: pointer;
  }
}
